<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css">    
    </head>
    <body>
        <div id="logo"><img src="{{ site.baseurl }}/logo3.png" alt="learn things" 
                                            style="width:200px; 
                                            height:200px;"></img>
        </div>
        <div id="header">
            <div id="navigation">
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/preludes.html">Preludes</a>
                <a href="/pile.html">PILE</a>
                <a href="/2017.html">Peripeteia 2017</a>
                <a href="/2016.html">Peripepast</a>
            </div>
        </div>

        <div id="content">

            {{ content }}

        </div>
        <div id="footer">
        </div>
    </body>
</html>
